body{
    margin: auto;
    text-align: center; 
    background-color: rgb(255, 255, 255);
}
#menu {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 19px;
    color: blueviolet;
    padding-left: 360px;
}

#botao {
    background-color: rgb(108, 40, 140);
    width: 300px;
}
